*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    font-family: 'Pathway Extreme', sans-serif;
    height: 100%;
    background: linear-gradient(15deg, #6ebbff, #ece8efff);
}
.profile{
    background-color: #dc493aff;
    border: 1px solid black;
    border-radius: 50%;
    width: 85px;
    height: 85px;
}
.title{
    text-decoration: wavy underline;
}
.header-btn{
    background-color: black;
    color: white;
    margin-right: 40px;
}
.header-btn:hover{
    background-color: #dc493aff;
    color: white;
    box-shadow: 2px 2px black;
}
.dash{
    margin: 0 auto;
}
.dash-btn{
    background-color: #4392f1ff;
    color: white;
    margin-right: 40px;
}
.dash-btn:hover{
    background-color: #dc493aff;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 2px 2px black;
}
h1 span{
    font-size: large;
}
.dash-content{
    margin: 0 auto;
}
.csv{
    margin-right: 5px;
    font-size: 20px;
}
.csv a{
    margin-right: 15px;
}
.csv a:hover{
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
    font-style: italic;
}


/* Color Palate */
/* --chefchaouen-blue BLUE: #4392f1ff;
--magnolia LIGHT GREY: #ece8efff;
--lavender-web: #e3ebffff;
--alice-blue LIGHT BLUE: #e7f0ffff;
--vermilion RED: #dc493aff; */