*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Pathway Extreme', sans-serif;
    height: 100%;
}
/* LOGIN LEFT COL */
.main-left{
    background-color: #4392f1ff;
}
.login-button{
    background-color: black;
}
.login-button:hover{
    background-color: #dc493aff;
    box-shadow: 2px 2px black;
}
/* LOGIN RIGHT COL */
.title{
    text-decoration: underline;
}
.sub-title{
    font-style: italic;
}
.main-right{
    background-color: #ece8efff;
}
.reg-button{
    background-color: black;
}
.reg-button:hover{
    background-color: #dc493aff;
    box-shadow: 2px 2px black;
}
/* FORM ANIMATION */
form{
    --c: #dc493aff; /* the border color */
    --b: 10px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}
form:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
  }
