*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Pathway Extreme', sans-serif;
    height: 100%;
    background: linear-gradient(15deg, #16588E, #ece8efff);
}
.edit{
    background: linear-gradient(15deg, #E7222E, #ece8efff);
}
.profile{
    background-color: #dc493aff;
    border: 1px solid black;
    border-radius: 50%;
    width: 85px;
    height: 85px;
}
.title{
    text-decoration: wavy underline;
}
.header-btn{
    background-color: black;
    color: white;
    margin-right: 40px;
}
.header-btn:hover{
    background-color: #dc493aff;
    color: white;
    box-shadow: 2px 2px black;
}
.dash{
    margin: 0 auto;
}
.dash-btn{
    background-color: #4392f1ff;
    color: white;
    margin-right: 40px;
}
.dash-btn:hover{
    background-color: #dc493aff;
    color: white;
    box-shadow: 2px 2px black;
}
.dash-content{
    margin: 0 auto;
}
label{
    font-weight: bolder;
}
.submit-button{
    background-color: black;
    color: white;
}
.submit-button:hover{
    background-color: #5cb85c;
    color: white;
    box-shadow: 2px 2px black;
}
.edit-btn{
    color: white;
}
.edit-btn:hover{
    background-color: #dc493aff;
    color: black;
    box-shadow: 2px 2px black;
}